<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854513018302-0f2b442hst855q0f5gdohr60oqn50ncd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854513018302-0f2b442hst855q0f5gdohr60oqn50ncd</string>
	<key>API_KEY</key>
	<string>AIzaSyAhGCX5hv3KgW4bEzvd-27wy9Ay2E_foPE</string>
	<key>GCM_SENDER_ID</key>
	<string>854513018302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ngyt.contactLife</string>
	<key>PROJECT_ID</key>
	<string>contact-life</string>
	<key>STORAGE_BUCKET</key>
	<string>contact-life.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854513018302:ios:492273ef42d93f53cd85ef</string>
</dict>
</plist>